.event-heading {
    position: absolute;
    width: 333px;
    height: 37px;
    left: 182px;
    top: 717px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #240D57;
}

.event-host-name {
    position: absolute;
    width: 155px;
    height: 15px;
    left: 182px;
    top: 771px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}

.event-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 137px;
    position: absolute;
    width: 594px;
    height: 72px;
    left: calc(50% - 594px/2 - 1px);
    top: 833px;
    border-radius: 10px;
}

.event-date-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 277px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.event-date-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 1px;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.date-from {
    width: 155px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #240D57;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.date-to {
    width: 253px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #4F4F4F;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.event-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 137px;
    position: absolute;
    width: 594px;
    height: 72px;
    left: calc(50% - 594px/2 - 1px);
    top: 922px;
    border-radius: 10px;
}

.event-location-address {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 277px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.street-address {
    width: 104px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #240D57;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.address-code {
    width: 196px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #4F4F4F;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.event-location-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 1px;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right {
    position: absolute;
    width: 593px;
    height: 593px;
    left: calc(50% - 593px/2 - 0.5px);
    top: 88px;
    background: url(../../assets/Birthday\ cake.png);
    border-radius: 0px;
}

@media screen and (min-width: 960px) {
    .event-heading {
        position: absolute;
        width: 333px;
        height: 37px;
        left: 240px;
        top: 194px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        display: flex;
        align-items: center;
        color: #240D57;
    }
    .event-host-name {
        position: absolute;
        width: 155px;
        height: 15px;
        left: 240px;
        top: 248px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #828282;
    }
    .event-date {
        position: absolute;
        width: 300px;
        height: 15px;
        left: 240px;
        top: 308px;
    }
    .event-date-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        gap: 1px;
        width: 56px;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        /* Inside auto layout */
    }
    .date-from {
        width: 155px;
        height: 21px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #240D57;
        /* Inside auto layout */
    }
    .date-to {
        width: 253px;
        height: 21px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #4F4F4F;
        /* Inside auto layout */
    }
    .event-location {
        position: absolute;
        width: 300px;
        height: 15px;
        left: 240px;
        top: 368px;
    }
    .event-location-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        gap: 1px;
        width: 56px;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        /* Inside auto layout */
        margin-top: -4px;
    }
    .street-address {
        width: 155px;
        height: 21px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #240D57;
    }
    .address-code {
        width: 253px;
        height: 21px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #4F4F4F;
        /* Inside auto layout */
    }
    .right {
        position: absolute;
        width: 500px;
        height: 500px;
        left: calc(50% - 500px/2 + 266px);
        top: 184px;
        background: url(../../assets/Birthday\ cake.png);
        border-radius: 0px;
    }
}